<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to Glitch!</title>

    <link rel="stylesheet" href="/style.css">
    
    <script src="/client.js" defer></script>
  </head>
  <body>
    
  <div id="container">
    <section>

    <header>
      <p>every moment an elegy</p>
    </header>

    <main>
      
      <form id="ritual">
        <hr>
        <div class="act">
          
        i put the
        <select name="item_1">
        </select>

        and
        
        <select name="item_2">
        </select>
        
        by
        
        <select name="action">
        </select>
        
        for
        
        <select name="time">
        </select>
          
          <br><br>
          
        <textarea class="what" placeholder="becomes">ash</textarea>

        </div>
        <hr>
        <button type="submit" id="submit-ritual">initiate</button>

      </form>
      
      <section class="dreams">
        <ul id="rituals"></ul>
      </section>
      
    </main>
</form>

    </section>


  </div>
    <script src="/magic.js" defer></script>
  
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  </body>
</html>
