/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body{
  padding:5cw;
}

#container {
  padding: 1em;
  width: 100vw;
  height:100vh;
  display:flex;
  place-items:center;
  justify-content:center;
  text-align:center;
}

section {
  height: auto;
}

section.dreams{
  background:black;
  color: white;
  padding:1em 0;
  margin: 5vh 0;
}

.act{
  padding:2em;
}

/* FORM */

select{
  display: inline-block;
  padding:.5em;
}

button[type=submit]{
  padding:.5em;
}