/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body{
  padding:5cw;
}

#container {
  padding: 1em;
  width: 100%;
  text-align: center;
}

section {
  position: relative;
  bottom: 0;
}

.act{
  padding:2em;
}

/* FORM */

select{
  display: inline-block;
  padding:.5em;
}